# electron-builder 需要平铺的 node_modules
shamefully-hoist=true

# 镜像（electron 二进制下载）
electron_mirror=https://npmmirror.com/mirrors/electron/

# electron-builder 工具（nsis/winCodeSign 等）下载镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
